* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#outer-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 95vh;
}
#header {
  width: -webkit-fill-available;
}
#window-content {
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#fieldset {
  width: 95%;
  overflow: auto;
}
.inner-container {
  display: flex;
  justify-content: space-between;
}
